@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #1e1e1e;
}

::-webkit-scrollbar {
  display: none;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

@layer base {
  @font-face {
    font-family: "Roboto Mono";
    src: url(../public/assets/fonts/RobotoMono-VariableFont_wght.ttf)
      format("truetype");
  }
}
